@font-face {
    font-family: 'mine';
    src        : url('comentarios/font/Minecrafter.Alt.ttf') format('truetype');
    font-weight: normal;
    font-style : normal;
}
@font-face {
    font-family: "Roboto";
    src: url('comentarios/font/Roboto-Regular.ttf') format('truetype');
}
