header {
    display         : flex;
    justify-content : space-between;
    align-items     : center;
    height          : 80px;
    padding         : 0 20px;
    background-color: rgb(18, 29, 54);
}

.menu {
    display        : flex;
    justify-content: space-evenly;
}

.menu a {
    padding        : 10px 35px;
    text-decoration: none;
    color          : #ffffff;
    font-size      : 15px;
    margin-left    : 0px;
    border-radius  : 10px;
    font-weight    : 900;
}

.menu a:hover {
    background-color: rgb(255, 255, 255);
    color           : black;
}

.search-box-input::placeholder {
    color     : #ffffff;
    /* opacity: 0.6; */
}

/* Chrome, Opera ySafari */
.search-box-input::-webkit-input-placeholder {
    color: #ffffff;
}

/* Firefox 19+ */
.search-box-input::-moz-placeholder {
    color: #ffffff;
}

/* IE 10+ y Edge */
.search-box-input:-ms-input-placeholder {
    color: #ffffff;
}

.search-box form {
    display         : flex;
    border-radius   : 50px;
    background-color: #4c4c4c;
    height          : 25px;
}

.search-box:hover .search-box-input {

    padding-left : 2em;
    padding-right: 1em;
    width        : 250px;
}

.search-box-input {
    outline   : 0;
    font-size : 1.2em;
    color     : #fff;
    width     : 0;
    padding   : 0;
    border    : none;
    background: none;
    transition: .35s;
}

.search-box-button {
    display         : flex;
    border-radius   : 50%;
    width           : 27px;
    height          : 27px;
    background-color: #ffffff;
    border          : none;
    cursor          : pointer;
    transition      : .3s;
}

.search-box-button:active {
    transform: scale(.85);

}

.search-box-icone {
    margin: auto;
    color : #fff;
}

.search-box-icone img {
    width: 18px;
}

@media screen and (min-width: 400px) {
    .search-box:hover .search-box-input {
        width: 360px;
    }

}

.navegacao nav {
    justify-content : space-evenly;
    display         : flex;
    background-color: rgb(18, 29, 54);
}

.navegacao nav .buttons {
    background-color: rgba(206, 217, 237, 0.89);
    list-style      : none;
    display         : block;
    margin          : 0 0 10px 0;
    border-radius   : 10px;
    border          : 2px solid black;
}

.buttons {
    font-size  : 20px;
    font-weight: 900;
    padding    : 5px 20px 5px 20px;
}

nav .buttons:hover {
    background-color: rgb(255, 255, 255);
    cursor          : pointer;
}